@import url("https://fonts.googleapis.com/css?family=Dosis");

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Dosis", "Arial", sans-serif;
    font-size: 1em;
    color: #CCCCCC;
    letter-spacing: 0.04em;
    word-spacing: 0.02em;
    line-height: 1.5em;
    background: #303030;
    text-align: justify;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.mainWrapper {
    max-width: 800px;
    margin: 0 auto;
    font-size: 0.8em;
}

header {
    color: white;
    position: absolute;
    top: 120px;
    width: 800px;
    left: 50%;
    margin-left: -400px;
    z-index: 2;
}

header > div {
    text-align: center;
    font-size: 5em;
    padding: 25px 0;
    letter-spacing: 0.1em;
    line-height: 0.5em;
    font-weight: normal;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.6);
}

header div span {
    font-size: 0.4em;
    display: block;
    letter-spacing: 0.0001em;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    padding-top: 15px;
    font-variant: normal;
}

#menuContainer {
    min-height: 20px;
    height: auto;
    margin: 0;
    padding: 0;
    background: #404040;
    overflow: hidden;
}

#menuContainer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

#menuContainer ul li {
    float: left;
    margin: 0;
    padding: 0;
}

#menuContainer a {
    display: inline-block;
    padding: 8px 10px;
    margin: 0 10px;
    color: inherit;
    text-decoration: none;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    position: relative;
    z-index: 1;
}

#menuContainer a:hover:before {
    content: "";
    width: 20px;
    height: 50px;
    position: absolute;
    left: -10px;
    top: -5px;
    transform: rotate(15deg);
    background: yellowgreen;
    z-index: 0;
}

#menuContainer a:hover:after {
    content: "";
    width: 20px;
    height: 50px;
    position: absolute;
    right: -10px;
    top: -5px;
    transform: rotate(15deg);
    background: yellowgreen;
    z-index: 0;
}

#menuContainer a:hover,
#menuContainer a.active {
    background: yellowgreen;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    color: #202020;
}

#slideContainer {
    width: 100%;
    border-top: 1px solid #505050;
    border-bottom: 1px solid #404040;
    height: 300px;
    overflow: hidden;
}

#slideContainer .image {
    width: 100%;
    height: 300px;
    background-size: cover;
    background: url('/images/bokeh.jpg') center;
}

#slideContainer .image.fadeIn {
    opacity: 1;
}

#slideContainer .image.fadeOut {
    opacity: 0;
}

#mainInfo .stage.block {
    display: block;
    width: 190px;
    height: 80px;
    background: #252525;
    margin: 25px 4px 10px 4px;
    float: left;
    text-align: center;
    padding-top: 20px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    border: 1px solid #505050;
    cursor: help;
    position: relative;
}

#mainInfo .stage.block .further-information {
    position: absolute;
    transition: all 0.3s;
    width: 100%;
    background: #252525;
    border: 1px solid #505050;
    border-top: none;
    left: -1px;
    text-align: left;
    max-height: 0;
    overflow: hidden;
    margin-top: 16px;
}

#mainInfo .stage.block .further-information ul {
    margin: 10px 0 10px 10px;
    padding: 0;
    list-style: none;
}

#mainInfo .stage.block .further-information ul li {
    margin: 0;
    padding: 0;
}
#mainInfo .stage.block .further-information ul li:before {
    content: "\f061";
    font-family: "FontAwesome", serif;
    margin-left: 0;
    margin-right: 5px;
    font-size: 0.7em;
    float: left;
}

#mainInfo .stage.block:hover .further-information {
    max-height: 500px;
}

#mainInfo .stage.block .text {
    display: block;
}

#mainInfo .stage.block i {
    color: yellowgreen;
}

#mainContent article {
    float: left;
    max-width: 65%;
    font-size: 1.1em;
}

#mainContent aside {
    float: right;
    max-width: 30%;
}

footer {
    margin-top: 30px;
}

footer .cell {
    padding: 5px;
    background: #404040;
}

/* Tags */

h1 {
    font-size: 2.5em;
    margin: 0;
    padding: 25px 0;
    color: yellowgreen;
}

h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 15px 0;
    color: yellowgreen;
}

h3 {
    color: yellowgreen;
}

h4 {
    padding: 5px;
    margin: 0;
}

hr {
    border: none;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent 0%, #505050 50%, transparent 100%);
    margin: 15px 0;
}

input {
    background: #404040;
    border: 1px solid #505050;
    padding: 10px 5px;
    margin: 5px 15px;
    color: #CCCCCC;
    font-size: 0.9em;
    min-width: 250px;
}

input:focus {
    box-shadow: 0 0 7px rgba(154, 205, 50, 0.2);
    border-color: #606060;
    transition: all 0.3s;
}

button {
    background: #404040;
    border: 1px solid #505050;
    padding: 8px 25px;
    font-size: 0.8em;
    text-transform: uppercase;
    color: yellowgreen;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

button:hover {
    background: yellowgreen;
    color: #303030;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.5);
}

button:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-right: 0 inset transparent;
    border-left: 8px solid yellowgreen;
    border-top: 15px inset transparent;
    border-bottom: 15px inset transparent;
    right: 0;
    top: 0;
    z-index: -1 !important;
    opacity: 0;
}

button:hover:before {
    right: -8px;
    opacity: 1;
}

/* Grid layout */

.container {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}

.valign-middle {
    vertical-align: middle;
}

.valign-top {
    vertical-align: top;
}

.valign-bottom {
    vertical-align: bottom;
}

/* Helper */

.clear-both {
    clear: both;
}

.width-full {
    width: 100%;
}

#mainContent .width-full {
    width: calc(100% - 20px);
    max-width: 100%;
}

.right {
    float: right;
}

/* Content specific */

.article-short {
    background: #404040;
    margin-bottom: 20px;
    border: 1px solid #505050;
}

.article-short:last-child {
    margin-bottom: 0;
}

.article-short .article-date-created {
    font-size: 0.9em;
    float: right;
}

.article-short h4 {
    background: #454545;
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #303030;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

.article-short p {
    border-top: 1px solid #606060;
    padding: 10px;
    margin: 0;
}

.box-item {
    display: block;
    padding: 15px 30px;
    float: left;
    background: #353535;
    margin-right: 10px;
    border: 1px solid #404040;
    border-bottom: 1px solid #505050;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    transition: all 0.3s;
}

.box-item:hover {
    background: #404040;
}

.box-item:active {
    background: #202020;
}

.error-msg {
    padding-left: 10px;
}

.form-error {
    font-size: 0.8em;
    color: darkorange;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    letter-spacing: 0.08em;
}

.field-error {
    box-shadow: 0 0 7px rgba(154, 205, 50, 0.2);
    border-color: darkorange;
}

a {
    color: inherit;
    text-decoration: none;
}